{% extends 'lab/base.html' %}
{% block title %} Главная страница {% endblock %}
{% block content %}
     <br>
            <ul>
                <li>
                    <a href="{% url 'model_row' %}" class="rows">
                             Модельный ряд
                    </a>
                </li>
                <li>
                    <a href="{% url 'sales' %}" class="rows">
                             Выгодные предложения
                    </a>
                </li>
                <li>
                    <a href="{% url 'address' %}" class="rows">
                            Официальные дилеры
                    </a>
                </li>
                <li>
                    <a href="{% url 'users' %}" class="rows">
                            Пользователи
                    </a>
                </li>
            </ul>
    </br>

{% endblock %}



