{% load staticfiles %}
<div>
<li>

    <p class="rows">Модель: {{ car.name }}</p>

    <img src="{% static '/lab/images/' %}{{ car.image_car.url }}.png" class="img" >
    <div class="card-block">
        <p>Уникальный номер автомобиля:{{ car.id }}</p>
        <p>Стоимость: от {{ car.price }} {{ "рублей" }}</p>
        <p>Страна-производитель:{{ car.country }}</p>
        <p>Описание:{{ car.description }}</p>
        <p>Габариты атомобиля (Д*Ш*Ш):{{ car.length }}</p>
        <p>Максимальная скорость:{{ car.max_speed }}</p>

    </div>
</li>
</div>
